

body{
	width: 95%;
    font-family:Tahoma; 
    font-size:14px;
	margin: auto;
    color:#333399;
    
}

#Part1 { /*header*/
background: url("../images/bgg3.png") repeat-x; 
    align:justify;
width: 100%;
height: 120px;
}

#Section1{ 
/*top right*/ 
    float: left; 
/*margin-top: -14px;*/
}

#Section2{ 
/*top left*/
float: right; 
/*margin-top: -14px;*/
}

#Part2{ /*main*/
	float: left;
width: 100%;
background: url("../images/bgg2.png") repeat; 
list-style-position: inside;
}

#Section4{ /*left side*/
    float: left; 
padding: 5px;
width: 22%;

}
#Section5{ /*content*/
background-color: #e6f2f8;
padding: 5px;
width: 75%;
    float: right; 

}
#Section6{  /*right side*/
    float: right; 
}

#Part3{ /*footer*/
	clear:both;
	background-color: #e6f2f8;
	text-align: right;
	padding-right: 20px;
}



a:link {color:#333399; text-decoration:underline;}
a:hover {color:black; text-decoration:none;}
a:visited {color:#333399; text-decoration: underline;}
a:active {color:#333399; text-decoration:none;}

h3 {
color: white;
}

div.napr_but { float: right; }